*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto ;
}
span{
    font-size: 1rem;
    margin: .5rem;
}
.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: darkslategray;
    color: white;
}
.nav-buscar{
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
}
.brand-title{
    font-size: 1.8rem;
    margin: .5rem;
}
.navbar-links ul form{
    display: inline-flex;
}
.navbar-links ul form button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    background-color: darkslategray
}
.navbar-links ul form input {
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul form button:hover{
    background-color: #555;
}
.navbar-links ul{
    padding: 0;
    display: inline-flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    background-color: darkslategray
}
.navbar-links li button:hover{
    background-color: #555 ;
}
button {
    width: 100%;
    height: 100%;
    border: 2px solid darkslategray;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/*******home*********/
.home {
    display: flex;
    background-image: url("background_1.png") ;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
    margin: auto; 
    width: 1500px;
}


/*******tables*********/
.table{
    height: 100%;
    width: 100%;
    border:  1px solid lightgray;
    font-size: 17px;
    font-family: 'Poppins' , sans-serif;
}
th, td {
    border: none;
    border:  1px solid lightgray;
    padding: 4px 12px;
}
th {
    background-color: darkslategrey;
    color: white;
}
td {
    height: 100px;  
}

 .bn-table{
    width: 100%;
    height: 75%;
    border: 2px solid darkslategray;
    background: darkslategray;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bn-table:hover{
    color: darkslategray;
    background: none;
}


/********login & signing*******/

.btn-normal{
    margin-left: 35px;
    width: 200px;
    border: 2px solid darkslategray;
    background: darkslategray;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-normal:hover{
    color: darkslategray;
    background: none;
}
.links-login{
    height: 40px;
}
.links-login a{
    display: inline-block;
    height:100%;
    text-align: center;
}
.links-login a:hover{
   color: darkslategray;
    background: white;
}

.form-loggin{
    margin-left: 500px;
    margin: 15px;
    padding: auto;
}
.input-form{
    height: 100%;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins' , sans-serif;
}

.form-sign div{
    margin: auto;
    padding: 10px;
}
/*****box with inputs*********/
.box{
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box form .input-form{
    width: 200px;
    margin:  20px;
}
/******select***********/

/********footer*****/
footer {
    background: black;
    padding: 20px 23px;
    color: white;
    text-align: center;
}