<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCourseService</servlet-name>
        <servlet-class>frontend.services.AddCourseService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignGradesService</servlet-name>
        <servlet-class>frontend.services.AssignGradesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignedGroupsService</servlet-name>
        <servlet-class>frontend.services.AssignedGroupsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseService</servlet-name>
        <servlet-class>frontend.services.EditCourseService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateConstancyService</servlet-name>
        <servlet-class>frontend.services.GenerateConstancyService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseGroupRegisterService</servlet-name>
        <servlet-class>frontend.services.CourseGroupRegisterService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollGroupStudentService</servlet-name>
        <servlet-class>frontend.services.EnrollGroupStudentService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGroupService</servlet-name>
        <servlet-class>frontend.services.RegisterGroupService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCourseService</servlet-name>
        <servlet-class>frontend.services.ModifyCourseService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelService</servlet-name>
        <servlet-class>frontend.services.PanelService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesService</servlet-name>
        <servlet-class>frontend.services.SchedulesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInService</servlet-name>
        <servlet-class>frontend.services.SignInService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProfessorService</servlet-name>
        <servlet-class>frontend.services.RegisterProfessorService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpService</servlet-name>
        <servlet-class>frontend.services.SignUpService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrolledStudentsService</servlet-name>
        <servlet-class>frontend.services.EnrolledStudentsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEnrollmentsService</servlet-name>
        <servlet-class>frontend.services.StudentEnrollmentsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesAdminService</servlet-name>
        <servlet-class>frontend.services.SchedulesAdminService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterAllCoursesService</servlet-name>
        <servlet-class>frontend.services.FilterAllCoursesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoIndex</servlet-name>
        <servlet-class>frontend.services.GoIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterAllCoursesAdminService</servlet-name>
        <servlet-class>frontend.services.FilterAllCoursesAdminService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutService</servlet-name>
        <servlet-class>frontend.services.SignOutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseService</servlet-name>
        <url-pattern>/AddCourseService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignGradesService</servlet-name>
        <url-pattern>/AssignGradesService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignedGroupsService</servlet-name>
        <url-pattern>/AssignedGroupsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseService</servlet-name>
        <url-pattern>/EditCourseService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateConstancyService</servlet-name>
        <url-pattern>/GenerateConstancyService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseGroupRegisterService</servlet-name>
        <url-pattern>/CourseGroupRegisterService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollGroupStudentService</servlet-name>
        <url-pattern>/EnrollGroupStudentService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGroupService</servlet-name>
        <url-pattern>/RegisterGroupService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCourseService</servlet-name>
        <url-pattern>/ModifyCourseService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelService</servlet-name>
        <url-pattern>/PanelService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesService</servlet-name>
        <url-pattern>/SchedulesService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInService</servlet-name>
        <url-pattern>/SignInService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProfessorService</servlet-name>
        <url-pattern>/RegisterProfessorService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpService</servlet-name>
        <url-pattern>/SignUpService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrolledStudentsService</servlet-name>
        <url-pattern>/EnrolledStudentsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEnrollmentsService</servlet-name>
        <url-pattern>/StudentEnrollmentsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesAdminService</servlet-name>
        <url-pattern>/SchedulesAdminService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterAllCoursesService</servlet-name>
        <url-pattern>/FilterAllCoursesService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoIndex</servlet-name>
        <url-pattern>/GoIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterAllCoursesAdminService</servlet-name>
        <url-pattern>/FilterAllCoursesAdminService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutService</servlet-name>
        <url-pattern>/SignOutService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
